.navi{
    color: white;
}
.btn-dark {
    padding: 10px 20px;
    background-color: rgba(20, 20, 36, 0.876);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    animation: blink 8s infinite;
}

@keyframes blink {
     0%, 50%, 100% {
        opacity: 1;
     }  
    25%, 75% {
        opacity: 0;
    }
}